# global config
global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.

{{ 'rule_files:' if backup_enabled | default(false) | bool else '' }}{{ '\n  - /etc/prometheus/prometheus-backup-alerts.yml' if backup_enabled | default(false) | bool else '' }}

scrape_configs:

  - job_name: 'cadvisor'
    scrape_interval: 5s
    static_configs:
      - targets: [cadvisor:7070]

  - job_name: 'node-exporter'
    scrape_interval: 5s
    static_configs:
      - targets: [host.docker.internal:9100]

  - job_name: 'postgres-exporter'
    scrape_interval: 5s
    static_configs:
      - targets: [postgres-exporter:9187]
{{ '\n\n  - job_name: pgbackrest_exporter\n    scrape_interval: 60s\n    static_configs:\n      - targets: [host.docker.internal:9854]' if backup_enabled | default(false) | bool else '' }}


